In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_test = pd.read_csv('../input/test.csv')
df_train = pd.read_csv('../input/train.csv')

df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [3]:
df_train.shape

(891, 12)

In [4]:
df_train.head()

,PassengerId,Perished,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,1,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.columns

Index(['PassengerId', 'Perished', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Perished     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df_train.isnull().sum()

PassengerId      0
Perished         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
death = (df_train['Perished'] == 0).sum()
death_rate = death / len(df_train) * 100
print(f'Death rate: {death_rate:.2f}%')

Death rate: 38.38%

In [10]:
# import pandas as pd
# from ydata_profiling import ProfileReport



# report = ProfileReport(df_train, title="Titanic EDA", explorative=True)
# report.to_notebook_iframe()

In [11]:
age = pd.concat([df_train['Age'], df_test['Age']])
fare = pd.concat([df_train['Fare'], df_test['Fare']])

df_train['Age'].fillna(age.mean(), inplace=True)
df_test['Age'].fillna(age.mean(), inplace=True)

df_train['Fare'].fillna(fare.mean(), inplace=True)
df_test['Fare'].fillna(fare.mean(), inplace=True)

df_train.isnull().sum()

PassengerId      0
Perished         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
df_train.drop('Cabin', axis=1, inplace=True)
df_test.drop('Cabin', axis=1, inplace=True)

df_train.isnull().sum()

PassengerId    0
Perished       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [13]:
df_train['Embarked'].fillna('S', inplace=True)
df_test['Embarked'].fillna('S', inplace=True)

df_train.isnull().sum()

PassengerId    0
Perished       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [14]:
#いったん難しいので消すらしい
df_train.drop('Name', axis=1, inplace=True)
df_test.drop('Name', axis=1, inplace=True)

df_train.drop('Ticket', axis=1, inplace=True)
df_test.drop('Ticket', axis=1, inplace=True)

df_train.columns

Index(['PassengerId', 'Perished', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [15]:
df_train.replace({'Sex': {'male': 0, 'female': 1}}, inplace=True)
df_test.replace({'Sex': {'male': 0, 'female': 1}}, inplace=True)

df_train.head()

   PassengerId  Perished  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1         1       3    0  22.0      1      0   7.2500        S
1            2         0       1    1  38.0      1      0  71.2833        C
2            3         0       3    1  26.0      0      0   7.9250        S
3            4         0       1    1  35.0      1      0  53.1000        S
4            5         1       3    0  35.0      0      0   8.0500        S

In [16]:
embarked = pd.concat([df_train['Embarked'], df_test['Embarked']])
# print(embarked)
embarked_ohe = pd.get_dummies(embarked)

embarked_ohe_train = embarked_ohe[:891]
embarked_ohe_test = embarked_ohe[891:]

df_train = pd.concat([df_train, embarked_ohe_train], axis=1)
df_test = pd.concat([df_test, embarked_ohe_test], axis=1)

df_train.drop('Embarked', axis=1, inplace=True)
df_test.drop('Embarked', axis=1, inplace=True)

df_train.head()

,PassengerId,Perished,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S
0,1,1,3,0,22.0,1,0,7.2500,False,False,True
1,2,0,1,1,38.0,1,0,71.2833,True,False,False
2,3,0,3,1,26.0,0,0,7.9250,False,False,True
3,4,0,1,1,35.0,1,0,53.1000,False,False,True
4,5,1,3,0,35.0,0,0,8.0500,False,False,True

In [17]:
df_train.replace({'Sex': {'male': 0, 'female': 1}}, inplace=True)
df_test.replace({'Sex': {'male': 0, 'female': 1}}, inplace=True)

df_train.head()

,PassengerId,Perished,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S
0,1,1,3,0,22.0,1,0,7.2500,False,False,True
1,2,0,1,1,38.0,1,0,71.2833,True,False,False
2,3,0,3,1,26.0,0,0,7.9250,False,False,True
3,4,0,1,1,35.0,1,0,53.1000,False,False,True
4,5,1,3,0,35.0,0,0,8.0500,False,False,True

In [18]:
X = df_train.iloc[:, 2:].values
y = df_train["Perished"].values

X_test = df_test.iloc[:, 1:].values
y

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1])

In [19]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
rfc = RandomForestClassifier(max_depth=10, min_samples_leaf=1, n_estimators=100, n_jobs=-1, random_state=42)
rfc.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, n_jobs=-1, random_state=42)

In [21]:
print('Train Score: {}'.format(round(rfc.score(X_train, y_train), 3)))
print(' Test Score: {}'.format(round(rfc.score(X_valid, y_valid), 3)))

Train Score: 0.953
 Test Score: 0.791

In [22]:
param_grid = {'max_depth': [3, 5, 7],
              'min_samples_leaf': [1, 2, 4]}

for max_depth in param_grid['max_depth']:
    for min_samples_leaf in param_grid['min_samples_leaf']:
        rfc_grid = RandomForestClassifier(max_depth=max_depth, min_samples_leaf=min_samples_leaf,
                                            n_estimators=100, n_jobs=-1, random_state=42)
        rfc_grid.fit(X_train, y_train)
        print('max_depth: {}, min_samples_leaf: {}'.format(max_depth, min_samples_leaf))
        print('    Train Score: {}, Test Score: {}'.format(round(rfc_grid.score(X_train, y_train), 3),
                                                           round(rfc_grid.score(X_valid, y_valid), 3)))

max_depth: 3, min_samples_leaf: 1
    Train Score: 0.844, Test Score: 0.821
max_depth: 3, min_samples_leaf: 2
    Train Score: 0.844, Test Score: 0.821
max_depth: 3, min_samples_leaf: 4
    Train Score: 0.844, Test Score: 0.817
max_depth: 5, min_samples_leaf: 1
    Train Score: 0.88, Test Score: 0.821
max_depth: 5, min_samples_leaf: 2
    Train Score: 0.867, Test Score: 0.806
max_depth: 5, min_samples_leaf: 4
    Train Score: 0.864, Test Score: 0.802
max_depth: 7, min_samples_leaf: 1
    Train Score: 0.899, Test Score: 0.81
max_depth: 7, min_samples_leaf: 2
    Train Score: 0.889, Test Score: 0.787
max_depth: 7, min_samples_leaf: 4
    Train Score: 0.876, Test Score: 0.791

In [23]:
rfc_gs = GridSearchCV(RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=42), param_grid, cv=5)
rfc_gs.fit(X, y)

print('Best Parameters: {}'.format(rfc_gs.best_params_))
print('CV Score: {}'.format(round(rfc_gs.best_score_, 3)))

Best Parameters: {'max_depth': 7, 'min_samples_leaf': 2}
CV Score: 0.824

In [24]:
df_fe = df_train.copy()
df_fe_test = df_test.copy()

df_fe['Family'] = df_fe['SibSp'] + df_fe['Parch'] + 1
df_fe_test['Family'] = df_fe_test['SibSp'] + df_fe_test['Parch'] + 1


df_fe.head(10)

,PassengerId,Perished,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S,Family
0,1,1,3,0,22.000000,1,0,7.2500,False,False,True,2
1,2,0,1,1,38.000000,1,0,71.2833,True,False,False,2
2,3,0,3,1,26.000000,0,0,7.9250,False,False,True,1
3,4,0,1,1,35.000000,1,0,53.1000,False,False,True,2
4,5,1,3,0,35.000000,0,0,8.0500,False,False,True,1
5,6,1,3,0,29.881138,0,0,8.4583,False,True,False,1
6,7,1,1,0,54.000000,0,0,51.8625,False,False,True,1
7,8,1,3,0,2.000000,3,1,21.0750,False,False,True,5
8,9,0,3,1,27.000000,0,2,11.1333,False,False,True,3
9,10,0,2,1,14.000000,1,0,30.0708,True,False,False,2

In [25]:
X_fe = df_fe.iloc[:, 2:].values
y_fe = df_fe.iloc[:, 1].values

X_fe_test = df_fe_test.iloc[:, 1:].values

X_fe_train, X_fe_valid, y_fe_train, y_fe_valid = train_test_split(X_fe, y_fe, test_size=0.3, random_state=42)

rfc_fe = RandomForestClassifier(max_depth=7, min_samples_leaf=1, n_estimators=100, n_jobs=-1, random_state=42)
rfc_fe.fit(X_fe_train, y_fe_train)

print('Train Score: {}'.format(round(rfc_fe.score(X_fe_train, y_fe_train), 3)))
print(' Test Score: {}'.format(round(rfc_fe.score(X_fe_valid, y_fe_valid), 3)))

Train Score: 0.905
 Test Score: 0.802

In [26]:
lr = LogisticRegression( random_state=42)
lr.fit(X_train, y_train)

print('Logistic Regression \n')
print('Train Score: {}'.format(round(lr.score(X_train, y_train), 3)))
print(' Test Score: {}'.format(round(lr.score(X_valid, y_valid), 3)))

Logistic Regression

Train Score: 0.799
 Test Score: 0.813

In [27]:

mlpc = MLPClassifier(hidden_layer_sizes=(100, 100, 10), random_state=0)
mlpc.fit(X_train, y_train)

print('Multilayer Perceptron \n')
print('Train Score: {}'.format(round(mlpc.score(X_train, y_train), 3)))
print(' Test Score: {}'.format(round(mlpc.score(X_valid, y_valid), 3)))

Multilayer Perceptron

Train Score: 0.823
 Test Score: 0.799

In [28]:
# CatBoost Classifier
from catboost import CatBoostClassifier

cbc = CatBoostClassifier(iterations=100, depth=6, learning_rate=0.1, random_state=42, verbose=0)
cbc.fit(X_train, y_train)

print("CatBoost Classifier")
print("Train Score: {}".format(round(cbc.score(X_train, y_train), 3)))
print(" Test Score: {}".format(round(cbc.score(X_valid, y_valid), 3)))

CatBoost Classifier
Train Score: 0.876
 Test Score: 0.817

In [29]:
# XGBoost Classifier
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=100, max_depth=6, learning_rate=0.1, random_state=42, eval_metric="logloss")
xgb.fit(X_train, y_train)

print("XGBoost Classifier")
print("Train Score: {}".format(round(xgb.score(X_train, y_train), 3)))
print(" Test Score: {}".format(round(xgb.score(X_valid, y_valid), 3)))

XGBoost Classifier
Train Score: 0.937
 Test Score: 0.799

In [30]:
# LightGBM Classifier
from lightgbm import LGBMClassifier

lgb = LGBMClassifier(n_estimators=100, max_depth=6, learning_rate=0.1, random_state=42, verbose=-1)
lgb.fit(X_train, y_train)

print("LightGBM Classifier")
print("Train Score: {}".format(round(lgb.score(X_train, y_train), 3)))
print(" Test Score: {}".format(round(lgb.score(X_valid, y_valid), 3)))

LightGBM Classifier
Train Score: 0.917
 Test Score: 0.806

In [31]:
# Hyperparameter Tuning for CatBoost, XGBoost, LightGBM
print("="*60)
print("Hyperparameter Tuning")
print("="*60)

# CatBoost - Grid Search
from sklearn.model_selection import GridSearchCV

cbc_params = {
    "iterations": [100, 200],
    "depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

cbc_gs = GridSearchCV(
    CatBoostClassifier(random_state=42, verbose=0),
    cbc_params,
    cv=5,
    scoring="accuracy",
    n_jobs=-1
)
cbc_gs.fit(X_train, y_train)

print("\nCatBoost Best Parameters:", cbc_gs.best_params_)
print("CatBoost CV Score: {:.3f}".format(cbc_gs.best_score_))
print("CatBoost Test Score: {:.3f}".format(cbc_gs.score(X_valid, y_valid)))

# XGBoost - Grid Search
xgb_params = {
    "n_estimators": [100, 200],
    "max_depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

xgb_gs = GridSearchCV(
    XGBClassifier(random_state=42, eval_metric="logloss"),
    xgb_params,
    cv=5,
    scoring="accuracy",
    n_jobs=-1
)
xgb_gs.fit(X_train, y_train)

print("\nXGBoost Best Parameters:", xgb_gs.best_params_)
print("XGBoost CV Score: {:.3f}".format(xgb_gs.best_score_))
print("XGBoost Test Score: {:.3f}".format(xgb_gs.score(X_valid, y_valid)))

# LightGBM - Grid Search
lgb_params = {
    "n_estimators": [100, 200],
    "max_depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

lgb_gs = GridSearchCV(
    LGBMClassifier(random_state=42, verbose=-1),
    lgb_params,
    cv=5,
    scoring="accuracy",
    n_jobs=1
)
lgb_gs.fit(X_train, y_train)

print("\nLightGBM Best Parameters:", lgb_gs.best_params_)
print("LightGBM CV Score: {:.3f}".format(lgb_gs.best_score_))
print("LightGBM Test Score: {:.3f}".format(lgb_gs.score(X_valid, y_valid)))

============================================================
Hyperparameter Tuning
============================================================

CatBoost Best Parameters: {'depth': 8, 'iterations': 100, 'learning_rate': 0.1}
CatBoost CV Score: 0.830
CatBoost Test Score: 0.825

XGBoost Best Parameters: {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200}
XGBoost CV Score: 0.823
XGBoost Test Score: 0.795

LightGBM Best Parameters: {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 200}
LightGBM CV Score: 0.827
LightGBM Test Score: 0.802

In [32]:
import wandb

# wandbにログイン（APIキーが必要な場合は対話的に入力）
wandb.login(key = '645b90cb2db844ae6d87767f0e414fac7daf7461')

# プロジェクトの初期化
wandb.init(
    project="titanic-classification",
    name="titanic-ensemble-run",
    settings=wandb.Settings(start_method="fork"),  # Windows/Jupyter対応
    config={
        "dataset": "Titanic",
        "framework": "scikit-learn",
        "models": ["RandomForest", "LogisticRegression", "MLP", "CatBoost", "XGBoost", "LightGBM"]
    }
)

print("wandb initialized successfully!")
print(f"Run URL: {wandb.run.get_url()}")

wandb: Using wandb-core as the SDK backend.  Please refer to https://wandb.me/wandb-core for more information.
wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: Appending key for api.wandb.ai to your netrc file: /kaggle/working/.netrc
wandb: Currently logged in as: daigokobayashi04 (daigokobayashi04-hal-tokyo) to https://api.wandb.ai. Use `wandb login --relogin` to force relogin
wandb: ERROR Unable to load kaggle notebook.

wandb initialized successfully!
Run URL: https://wandb.ai/daigokobayashi04-hal-tokyo/titanic-classification/runs/t9wj5ne6

In [33]:
# Model Performance Comparison
import pandas as pd

model_scores = pd.DataFrame({
    "Model": ["RandomForest", "LogisticReg", "MLP", "CatBoost", "XGBoost", "LightGBM"],
    "Train Score": [
        rfc.score(X_train, y_train),
        lr.score(X_train, y_train),
        mlpc.score(X_train, y_train),
        cbc_gs.best_estimator_.score(X_train, y_train),
        xgb_gs.best_estimator_.score(X_train, y_train),
        lgb_gs.best_estimator_.score(X_train, y_train)
    ],
    "Test Score": [
        rfc.score(X_valid, y_valid),
        lr.score(X_valid, y_valid),
        mlpc.score(X_valid, y_valid),
        cbc_gs.score(X_valid, y_valid),
        xgb_gs.score(X_valid, y_valid),
        lgb_gs.score(X_valid, y_valid)
    ]
})

model_scores["Overfit"] = model_scores["Train Score"] - model_scores["Test Score"]
model_scores = model_scores.round(3)

print("\n" + "="*60)
print("Model Performance Summary")
print("="*60)
print(model_scores.to_string(index=False))
print("\nBest Test Score: {} ({})".format(
    model_scores["Test Score"].max(),
    model_scores.loc[model_scores["Test Score"].idxmax(), "Model"]
))

# Log model scores to wandb
for idx, row in model_scores.iterrows():
    wandb.log({
        f"{row['Model']}_train_score": row['Train Score'],
        f"{row['Model']}_test_score": row['Test Score'],
        f"{row['Model']}_overfit": row['Overfit']
    })

# Log summary table
wandb.log({"model_comparison": wandb.Table(dataframe=model_scores)})

# Log best model info
wandb.run.summary["best_model"] = model_scores.loc[model_scores["Test Score"].idxmax(), "Model"]
wandb.run.summary["best_test_score"] = model_scores["Test Score"].max()

============================================================
Model Performance Summary
============================================================
       Model  Train Score  Test Score  Overfit
RandomForest        0.953       0.791    0.162
 LogisticReg        0.799       0.813   -0.014
         MLP        0.823       0.799    0.025
    CatBoost        0.889       0.825    0.065
     XGBoost        0.934       0.795    0.139
    LightGBM        0.899       0.802    0.097

Best Test Score: 0.825 (CatBoost)

In [34]:
# Ensemble Prediction (Voting)
from sklearn.ensemble import VotingClassifier

# ベストモデルを使用
ensemble = VotingClassifier(
    estimators=[
        #("rfc", rfc),
        #("lr", lr),
        ("mlpc", mlpc),
        ("cbc", cbc_gs.best_estimator_),
        #("xgb", xgb_gs.best_estimator_),
        #("lgb", lgb_gs.best_estimator_)
    ],
    voting="soft",
    n_jobs=-1
)

ensemble.fit(X_train, y_train)

print("\nEnsemble Model (Soft Voting)")
print("Train Score: {:.3f}".format(ensemble.score(X_train, y_train)))
print(" Test Score: {:.3f}".format(ensemble.score(X_valid, y_valid)))

Ensemble Model (Soft Voting)
Train Score: 0.864
 Test Score: 0.806

In [35]:
import os
os.makedirs("../output", exist_ok=True)
# Generate submission with Ensemble Model
ensemble_pred = ensemble.predict(X_test)

submission_ensemble = pd.DataFrame({
    "PassengerId": df_test["PassengerId"],
    "Perished": ensemble_pred
})

# Save to output directory
submission_ensemble.to_csv("../output/submission.csv", index=False)

print("\nSubmission file created: ../output/submission.csv")
print(f"Total predictions: {len(submission_ensemble)}")
print(f"Perished = 0 (Survived): {(submission_ensemble['Perished'] == 0).sum()}")
print(f"Perished = 1 (Died): {(submission_ensemble['Perished'] == 1).sum()}")

submission_ensemble.head(10)

Submission file created: ../output/submission.csv
Total predictions: 418
Perished = 0 (Survived): 142
Perished = 1 (Died): 276

   PassengerId  Perished
0          892         1
1          893         1
2          894         1
3          895         1
4          896         1
5          897         1
6          898         0
7          899         1
8          900         0
9          901         1

In [36]:
# Hyperparameter Tuning for CatBoost, XGBoost, LightGBM
print("="*60)
print("Hyperparameter Tuning")
print("="*60)

# CatBoost - Grid Search
from sklearn.model_selection import GridSearchCV

cbc_params = {
    "iterations": [100, 200],
    "depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

cbc_gs = GridSearchCV(
    CatBoostClassifier(random_state=42, verbose=0),
    cbc_params,
    cv=5,
    scoring="accuracy",
    n_jobs=-1
)
cbc_gs.fit(X_train, y_train)

print("\nCatBoost Best Parameters:", cbc_gs.best_params_)
print("CatBoost CV Score: {:.3f}".format(cbc_gs.best_score_))
print("CatBoost Test Score: {:.3f}".format(cbc_gs.score(X_valid, y_valid)))

# XGBoost - Grid Search
xgb_params = {
    "n_estimators": [100, 200],
    "max_depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

xgb_gs = GridSearchCV(
    XGBClassifier(random_state=42, eval_metric="logloss"),
    xgb_params,
    cv=5,
    scoring="accuracy",
    n_jobs=-1
)
xgb_gs.fit(X_train, y_train)

print("\nXGBoost Best Parameters:", xgb_gs.best_params_)
print("XGBoost CV Score: {:.3f}".format(xgb_gs.best_score_))
print("XGBoost Test Score: {:.3f}".format(xgb_gs.score(X_valid, y_valid)))

# LightGBM - Grid Search
lgb_params = {
    "n_estimators": [100, 200],
    "max_depth": [4, 6, 8],
    "learning_rate": [0.05, 0.1]
}

lgb_gs = GridSearchCV(
    LGBMClassifier(random_state=42, verbose=-1),
    lgb_params,
    cv=5,
    scoring="accuracy",
    n_jobs=1
)
lgb_gs.fit(X_train, y_train)

print("\nLightGBM Best Parameters:", lgb_gs.best_params_)
print("LightGBM CV Score: {:.3f}".format(lgb_gs.best_score_))
print("LightGBM Test Score: {:.3f}".format(lgb_gs.score(X_valid, y_valid)))

============================================================
Hyperparameter Tuning
============================================================

CatBoost Best Parameters: {'depth': 8, 'iterations': 100, 'learning_rate': 0.1}
CatBoost CV Score: 0.830
CatBoost Test Score: 0.825

XGBoost Best Parameters: {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200}
XGBoost CV Score: 0.823
XGBoost Test Score: 0.795

LightGBM Best Parameters: {'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 200}
LightGBM CV Score: 0.827
LightGBM Test Score: 0.802

In [37]:
# Model Performance Comparison (2nd run)
import pandas as pd

model_scores = pd.DataFrame({
    "Model": ["RandomForest", "LogisticReg", "MLP", "CatBoost", "XGBoost", "LightGBM"],
    "Train Score": [
        rfc.score(X_train, y_train),
        lr.score(X_train, y_train),
        mlpc.score(X_train, y_train),
        cbc_gs.best_estimator_.score(X_train, y_train),
        xgb_gs.best_estimator_.score(X_train, y_train),
        lgb_gs.best_estimator_.score(X_train, y_train)
    ],
    "Test Score": [
        rfc.score(X_valid, y_valid),
        lr.score(X_valid, y_valid),
        mlpc.score(X_valid, y_valid),
        cbc_gs.score(X_valid, y_valid),
        xgb_gs.score(X_valid, y_valid),
        lgb_gs.score(X_valid, y_valid)
    ]
})

model_scores["Overfit"] = model_scores["Train Score"] - model_scores["Test Score"]
model_scores = model_scores.round(3)

print("\n" + "="*60)
print("Model Performance Summary")
print("="*60)
print(model_scores.to_string(index=False))
print("\nBest Test Score: {} ({})".format(
    model_scores["Test Score"].max(),
    model_scores.loc[model_scores["Test Score"].idxmax(), "Model"]
))

============================================================
Model Performance Summary
============================================================
       Model  Train Score  Test Score  Overfit
RandomForest        0.953       0.791    0.162
 LogisticReg        0.799       0.813   -0.014
         MLP        0.823       0.799    0.025
    CatBoost        0.889       0.825    0.065
     XGBoost        0.934       0.795    0.139
    LightGBM        0.899       0.802    0.097

Best Test Score: 0.825 (CatBoost)

In [38]:
# Ensemble Prediction (Voting)
from sklearn.ensemble import VotingClassifier

# ベストモデルを使用
ensemble = VotingClassifier(
    estimators=[
        ("rfc", rfc),
        ("lr", lr),
        ("mlpc", mlpc),
        ("cbc", cbc_gs.best_estimator_),
        ("xgb", xgb_gs.best_estimator_),
        ("lgb", lgb_gs.best_estimator_)
    ],
    voting="soft",
    n_jobs=-1
)

ensemble.fit(X_train, y_train)

train_score = ensemble.score(X_train, y_train)
test_score = ensemble.score(X_valid, y_valid)

print("\nEnsemble Model (Soft Voting)")
print("Train Score: {:.3f}".format(train_score))
print(" Test Score: {:.3f}".format(test_score))

# Log ensemble results to wandb
wandb.log({
    "ensemble_train_score": train_score,
    "ensemble_test_score": test_score,
    "ensemble_overfit": train_score - test_score
})

wandb.run.summary["final_model"] = "Ensemble (Soft Voting)"
wandb.run.summary["final_test_score"] = test_score

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Ensemble Model (Soft Voting)
Train Score: 0.897
 Test Score: 0.799

In [39]:
# Generate submission with Ensemble Model
ensemble_pred = ensemble.predict(X_test)

submission_ensemble = pd.DataFrame({
    "PassengerId": df_test["PassengerId"],
    "Perished": ensemble_pred
})

# Save to output directory
submission_ensemble.to_csv("../output/submission_ensemble.csv", index=False)

print("\nSubmission file created: ../output/submission_ensemble.csv")
print(f"Total predictions: {len(submission_ensemble)}")
print(f"Perished = 0 (Survived): {(submission_ensemble['Perished'] == 0).sum()}")
print(f"Perished = 1 (Died): {(submission_ensemble['Perished'] == 1).sum()}")

# Log submission statistics to wandb
wandb.log({
    "total_predictions": len(submission_ensemble),
    "survived_count": (submission_ensemble['Perished'] == 0).sum(),
    "died_count": (submission_ensemble['Perished'] == 1).sum(),
    "survival_rate": (submission_ensemble['Perished'] == 0).sum() / len(submission_ensemble)
})

# Save submission file to wandb
submission_artifact = wandb.Artifact('submission', type='predictions')
submission_artifact.add_file("../output/submission_ensemble.csv")
wandb.log_artifact(submission_artifact)

submission_ensemble.head(10)

Submission file created: ../output/submission_ensemble.csv
Total predictions: 418
Perished = 0 (Survived): 142
Perished = 1 (Died): 276

   PassengerId  Perished
0          892         1
1          893         1
2          894         1
3          895         1
4          896         1
5          897         1
6          898         0
7          899         1
8          900         0
9          901         1

In [40]:
rfc_pred = rfc.predict_proba(X_test)
lr_pred = lr.predict_proba(X_test)
mlpc_pred = mlpc.predict_proba(X_test)

pred_proba = (rfc_pred + lr_pred + mlpc_pred) / 3
pred = pred_proba.argmax(axis=1)

In [41]:
# Create submission file
submission = pd.DataFrame({
    'PassengerId': df_test['PassengerId'],
    'Perished': pred
})

# Save to output directory
submission.to_csv('../output/submission.csv', index=False)

# Display the submission
submission

     PassengerId  Perished
0            892         1
1            893         1
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         1
414         1306         0
415         1307         1
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [42]:
# wandbセッションを終了
wandb.finish()
print("wandb run finished successfully!")
print(f"View your results at: https://wandb.ai/{wandb.run.entity}/{wandb.run.project}")

wandb run finished successfully!

AttributeError: 'NoneType' object has no attribute 'entity'